.task_card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.task_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.done_task {
    color: #6b7280;
    text-decoration: line-through;
    opacity: 0.7;
}

.done_description {
    color: #9CA3AF;
}

.task_header button {
    display: flex;
    align-items: center;
    justify-content: center;

    /*O ícone fica numa área circular então esse tamanho é cosistente com o tamanho do ícone*/
    width: 36px;
    height: 36px;

    padding: 6px;
    border: none;
    background: transparent;
    color: #6B7280;

    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}

.task_header button:hover {
    background-color: #F3F4F6;
    color: #F59E0B;
}

.task_header .favorite {
    color: #F59E0B;

}

.task_header svg {
    width: 22px;
    height: 22px;
}

.task_actions {
    display: flex;
    gap: 10px;
    margin-top: 8px;
}

.edit_btn,
.delete_btn {
    /*Usei para ocuparem o mesmo espaço disponível*/
    flex: 1;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.edit_btn {
    background-color: #16A34A;
    opacity: 0.7;
}

.edit_btn:hover {
    /* background-color: #15803D;*/
    background-color: #16A34A;

}


.delete_btn {
    background-color: #DC2626;
}

.delete_btn:hover {
    background-color: #B91C1C;
}